/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 17, 2025, 7:33:21 AM
    Author     : katelynapastrana
    References : https://www.youtube.com/watch?v=wx5Be8G8Zbo, 
                 https://stackoverflow.com/questions/11777598/font-size-relative-to-the-users-screen-resolution, and
                 https://www.geeksforgeeks.org/html/how-to-insert-spaces-tabs-in-text-using-html-css/
*/
body{
    background-color: aqua;
}

h1{
    font-size: 4.0vw;
    color: white;
}

.subject1 {
    font-size: 20px;
    background-color: aquamarine;
    color: coral;
    border-radius: 20px;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject2 {
    font-size: 20px;
    background-color: lavender;
    color: #e0dc23;
    border-radius: 20px;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject3 {
    font-size: 20px;
    background-color: lavenderblush;
    color: #66f8cf;
    border-radius: 20px;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ComputerScience {
    border-radius: 20px;
    background-color: aquamarine;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items1 {
    font-size: 15px;
    background-color: lavenderblush;
    color: #66f8cf;
    border-radius: 20px;
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Art {
    border-radius: 20px;
    background-color: lavender;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items2 {
    font-size: 15px;
    background-color: aquamarine;
    color: coral;
    border-radius: 20px;
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TV {
    border-radius: 20px;
    background-color: lavenderblush;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items3 {
    font-size: 15px;
    background-color: lavender;
    color: #e0dc23;
    border-radius: 20px;
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    font-size: 15px;
    background-color: gold;
    color: white;
    border-radius: 20px;
    width: 75px;
    height: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.table {
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.tab {
    tab-size: 4;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

h2 {color: white;}

p {color: white;}
